body {
  overflow-x: hidden;
  background: white;
}


/* typography */
/* TO DO: viewport sizes */
h1, h2{
	font-family: 'Rubik', serif;
}

h1 {
    color: #19E0A2;
    font-size: 5em;
    font-weight: bold;
    margin: 10px;
    letter-spacing: .3em;
    text-transform: uppercase;
    padding-top: 42px;
    padding-bottom: 42px;
}

h2 {
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}


/* header */
#header {
    padding: 2em 1em 2em 1em;
    margin: 0;
    text-align: center;
    margin-top: 7em;
    background-image:url("../images/gradient.png");
    min-height: 700px;
}

.logo {
   max-width: 100%;
   height: auto;
}


/* prompt */
.prompt {
    color: #19E0A2;
}

.typed-cursor{
    opacity: 1;
    color: #19E0A2;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* section */
.section {
    padding: 2em;
    margin: 2em;
    border: red;
}
