body {
  overflow-x: hidden;
  background: white;
}


/* typography */
/* TO DO: viewport sizes */
h1, h2{
	font-family: 'Rubik', serif;
    letter-spacing: normal;
}

h1 {
    color: #19E0A2;
    font-size: 5em;
    font-weight: bold;
    margin: 10px;
    letter-spacing: .3em;
    text-transform: uppercase;
    padding-top: 42px;
    padding-bottom: 42px;
}

h2 {
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25em;
}

h3 {
    font-size: 1.75em;
}

p {
    line-height: 1.8;
    font-size: 1.2em;
}

h3, h4, h5, p {
    font-family: "Space Mono", serif;
    letter-spacing: normal;
}


/* header */
#header {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #EDFBF5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #EDFBF5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #EDFBF5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #EDFBF5); /* Standard syntax */
}
#header-sub {
    padding: 2em 1em 2em 1em;
    margin: 0;
    text-align: center;
    margin-top: 7em;
    min-height: 700px;
    position: relative;
}

.logo {
   max-width: 100%;
   height: auto;
}

.type {
    text-transform: lowercase;
}

/* quick facts */
#quick-facts {
    width: 100%;
    border-bottom: 7px solid black;
    padding: 1em;
    margin: 0px;
    letter-spacing: normal;
    /*font-size: 5em;
    font-weight: "Rubik";
    position: absolute;
    bottom: 0px;
    margin: 0px;
    padding: 0px;*/
}

#quick-facts h2 {
    text-align: left;
    margin-left: 0;
}

#quick-facts h3 {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-family: "Rubik", serif;
    text-transform: uppercase;
    color: grey;
    letter-spacing: .25em;
}

#quick-facts p {
    padding: 0;
    margin: 0;
}


/* prompt */
.prompt {
    color: #19E0A2;
}

.typed-cursor{
    opacity: 1;
    color: #19E0A2;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* section */
.section {
    padding: 2em;
    margin: 0;
    border: red;
}

/* about */
#about {
    background-color: #EDFBF5;
    background-image: url('../images/shape-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#about h2 {
    color: black;
}

/* lame spacing and stuff */

.question-container {
    margin-bottom: 3.5em;
}

.default-padding {
    padding-left: 2.85em;
    padding-right: 2.85em;
    padding-top: 1em;
    padding-bottom: 1em;
}
